.container .pull-right .navigation {
	list-style: none;
	font-size: 15px;
	margin-top: 15px;
}

.container .pull-right .navigation li {
	display: inline;
	margin-left: 40px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
}

.container .pull-right .navigation a {
	color: #FFF;
}

.page-name {
	border-bottom: 2px #FFF solid;
	border-top: 2px #FFF solid;
	background-color: #000;
}

.page-name h1 {
	font-family: 'Lobster Two', sans-serif;
	color: #FFF;
	font-size: 35px;
	margin-bottom: 20px;
}

#overview {
	border-bottom: 2px #FFF solid;
	font-family: 'Roboto', sans-serif;
}

#content {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-align: center;
}

#content h1 {
	font-size: 50px;
}

#content p {
	font-size: 14px;
}

#content a {
	color: #FFF;
	font-size: 14px;
}
#content .jumbotron {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #333333;
	border: 1px #FFF solid;
	margin-top: 20px;
	min-height: 600px;
}

#content #snu-logo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.final {
	height: 100px;
	border-top: 2px #FFF solid;
	padding-top: 25px;
	padding-left: 25px;
	background-color: #000;
	color: #FFF;
}

.final p {
	padding-top: 20px;
	font-style: 'Roboto', sans-serif;
	font-size: 12px;
	text-align: center;
}

.final #copyright {
	text-align: center;
	font-size: 14px;
	font-style: 'Roboto', sans-serif;
}

#travel-pictures {
	background-color: #444444;
}

#travel-pictures .text-content {
	background-color: rgba(68, 68, 68, 0.7);
}

#food-pictures {
	background-color: #777777;
}

#food-pictures .text-content {
	background-color: rgba(119, 119, 119, 0.7);
}

#hangout-pictures {
	background-color: #555555;
	margin-bottom: 40px;
}

#hangout-pictures .text-content {
	background-color: rgba(85, 85, 85, 0.7);
}

img {
	width: 100%;
	height: auto;
}

.text-content {
	color: #FFF;
	cursor: pointer;
	position: absolute;
	height: 270px;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	display: table;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

.text-content span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding-left: 30px;
	padding-right: 30px;
}

.text-content:hover  {
	opacity: 1;
}

.pictures .row {
	margin-top: 30px;
}

.pictures {
	margin-top: 30px;
	border-top: 2px #FFF solid;
	border-bottom: 2px #FFF solid;
	padding-bottom: 30px;
	color: #FFF;
	font-size: 'Roboto', sans-serif;
}

body {
	background-color: #660033;
}